<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PicturePassword.data.Properties.Settings.PicturesConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Pictures;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>