

<div class="row">
    <div class="col-md-6 col-lg-offset-3">
        <h3>Sign Up to Download Pictures</h3>
        <form method="post"action="/home/signup">
            <input type="text" name="name" placeholder="Name" class="form-control" />
            <br/>
            <input type="text" name="email" placeholder="Email" class="form-control" />
            <br />
            <input type="password" name="password" placeholder="Password" class="form-control" />
            <br />
            <button class="btn-default">Submit</button>
        </form>
    </div>
</div>
